@media only screen and (min-width: 600px) {
  .container {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }

}

@media only screen and (max-width: 599px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
    width: 84%;
  }
}



h1 {
  padding-top: 100px !important;
  color: black !important;
  align-self:center;
}

ul {
  color: black !important;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

}

.pad-top {
  padding-top: 100px !important; 
  display: flex;
  flex-direction: column;
  align-content: center;
}

li {
  width: fit-content !important;
}